<section class="hero__background">
  <div class="hero__image-overlay">
    <app-navigation-bar></app-navigation-bar>
    <header class="header">
      <app-profile-image class="u-margin-bottom--medium"></app-profile-image>
      <h1
        class="header__main-text--normal heading-primary u-margin-bottom--tiny"
      >
        I'm <span class="header__main-text--highlight">lek jie wei</span>.
      </h1>
      <h3
        class="header__caption-text body-medium--italic u-center-text u-margin-bottom--medium"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco.
      </h3>
      <app-link-icon-tray></app-link-icon-tray>
    </header>
  </div>
</section>
