<div class="shadow__overlay">
  <div class="shadow">
    <section class="hero__background" #hero_ref>
      <div class="hero__image-overlay">
        <app-navigation-bar
          [sectionRefObj]="sectionRefObj"
          [isStickyNav]="false"
        ></app-navigation-bar>
        <header class="header">
          <app-profile-image
            class="u-margin-bottom--medium"
          ></app-profile-image>
          <div class="u-margin-bottom--tiny">
            <h1 class="header__main-text--normal heading-primary">
              I'm <span class="header__main-text--highlight">lek jie wei</span>.
            </h1>
          </div>
          <div class="u-margin-bottom--medium">
            <h3 class="header__caption-text body-medium--italic u-center-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco.
            </h3>
          </div>
          <app-link-icon-tray></app-link-icon-tray>
        </header>
      </div>
    </section>
  </div>
</div>
