<nav class="navigation u-margin-bottom--small" #nav_ref>
  <ul class="navigation__tray">
    <li class="navigation__list">
      <a href="#" class="navigation-text--inactive navigation__link">about</a>
    </li>
    <li class="navigation__list">
      <a href="#" class="navigation-text--inactive navigation__link"
        >experience</a
      >
    </li>
    <li class="navigation__list">
      <a href="#" class="navigation-text--inactive navigation__link"
        >projects</a
      >
    </li>
    <li class="navigation__list">
      <a href="#" class="navigation-text--inactive navigation__link"
        >artworks</a
      >
    </li>
  </ul>
</nav>
