<section class="about__background">
  <div class="u-center-text u-margin-top--medium u-margin-bottom--medium">
    <h2 class="heading-secondary about__header-text">About Me</h2>
  </div>
  <div class="about__body">
    <div class="about__body-text-container">
      <p class="about__body-text body-medium--italic">
        Hiya! I'm Lek Jie Wei, an aspiring full full-stack developer and cartoon
        artist. Currently, I am a final year Computer Science and Design (CSD)
        student in SUTD.
      </p>
    </div>
    <div class="about__body-image-container">
      <img
        class="about__body-image"
        src="assets/images/about-image.png"
        alt="image of author"
      />
    </div>
  </div>
</section>
