<section class="about__background">
  <div class="u-center-text u-margin-top--medium u-margin-bottom--medium">
    <h2 class="heading-secondary about__header-text">About Me</h2>
  </div>
  <div class="about__body">
    <div class="about__body-text-container">
      <p class="about__body-text body-medium--italic">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="about__body-image-container">
      <img
        class="about__body-image"
        src="assets/images/about-image.png"
        alt="image of author"
      />
    </div>
  </div>
</section>
