@use "./../../styles/abstracts/variables" as *;

// FIXME: remove unneccessary font imports when fonts are finalized.
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

// Font Type Scale follows 1.2 Minor Third scale.
.heading-primary {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 7.43rem;

  display: inline-block;
}

.heading-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 6.192rem;

  text-shadow: 0px 1.2rem 2.4rem rgba($color-black, 0.25);

  display: inline-block;
}

.heading-tertiary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.986rem;

  display: inline-block;
}

.body-large {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.488rem;

  &--italic {
    font-style: italic;
  }
}

.body-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.074rem;

  &--italic {
    @extend .body-medium;
    font-style: italic;
  }
}

.body-small {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.493rem;
}

.showcase-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 6.192rem;
  font-style: italic;

  line-height: 62.3%;

  display: inline-block;
}
.showcase-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.986rem;

  line-height: 83.33%;
  letter-spacing: -5%;
}

.navigation-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.074rem;

  &--active {
    @extend .navigation-text;
    font-weight: 400;
  }
  &--inactive {
    @extend .navigation-text;
    font-weight: 300;
  }
}
