@use "./../abstracts/variables" as *;

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom {
  &--tiny {
    margin-bottom: 0.4rem !important;
  }
  &--small {
    margin-bottom: 1.6rem !important;
  }
  &--medium {
    margin-bottom: 3.2rem !important;
  }
  &--large {
    margin-bottom: 8rem !important;
  }
}

.u-margin-top {
  &--medium {
    margin-top: 3.2rem !important;
  }
  &--large {
    margin-top: 8rem !important;
  }
  &--huge {
    margin-top: 10rem !important;
  }
}

.u-drop-shadow {
  &--small {
    box-shadow: 0px 0.4rem 1.6rem rgba($color-black, 0.25);
  }
  &--medium {
    box-shadow: 0px 1.2rem 2.4rem rgba($color-black, 0.25);
  }
  &--large {
    box-shadow: 0px 2.4rem 4.8rem rgba($color-black, 0.25);
  }
}
