@use "./../../../../styles/main.scss" as *;

.experiences {
  &__header-text {
    color: $color-primary;
  }
  &__caption-text {
    width: 60%;
    margin: 0 auto;

    color: $color-grey-light-2;
  }
}

.carousel {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;

  &__screen {
    position: relative;

    height: 58rem;
    width: 120rem;
    max-height: 100%;
    max-width: 100%;

    margin: 0 auto;

    mask-image: linear-gradient(to left, transparent, black 12%, black 88%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, transparent, black 12%, black 88%, transparent 100%);
    mask-position:
      0 0,
      100% 0;
    mask-repeat: no-repeat, no-repeat;

    overflow: hidden;
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  align-self: center;

  border: none;

  background-color: transparent;
  color: $color-primary;

  height: 5.5rem;
  width: 5.5rem;

  cursor: pointer;

  &--left {
    left: 6%;

    transform: translate(-50%, -50%) scaleY(1.2);
  }

  &--right {
    right: 6%;
    transform: translate(50%, -50%) scaleY(1.2);
  }

  &--dormant {
    color: $color-grey-dark-1;
  }
}

.slide {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  padding: 0 12rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
  transition-timing-function: ease-in-out;
}

.dots {
  display: flex;
  margin-top: 2rem;

  &__dot {
    border: none;
    background-color: $color-grey-light-1;

    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 0.32rem solid $color-primary;
    margin-right: 1.75rem;

    cursor: pointer;

    transition: all 0.5s;

    &:last-child {
      margin-right: 0;
    }
    &--active {
      background-color: $color-primary;
    }
  }
}
