//// COLOURS ////
$color-primary: #e04141;
$color-primary-dark-1: #ce3030;
$color-primary-dark-2: #4e2326;
$color-primary-light-1: #ef5a5a;
$color-primary-light-2: #ffb1b1;
$color-background: #ffdbdb;

$color-secondary: #fdc36d;

$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: #424242;
$color-grey-dark-2: #1a1a1a;
$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #cdcdcd;
