@use "./../../../styles/main.scss" as *;

.popup {
  @include flex-center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba($color-black, 0.8);

  z-index: 3;

  &__content {
    position: relative;

    width: 100rem;
    margin: 2rem;
    padding: 3.2rem 2.4rem;

    background-color: white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 2rem;

    overflow: hidden;
  }

  &__close {
    position: absolute;
    top: 0.24rem;
    right: 2rem;
    font-size: 6rem;
    color: $color-grey-dark-1;

    cursor: pointer;

    &:link,
    &:visited {
      position: absolute;
      top: 2.4rem;
      right: 4.4rem;

      color: $color-black;
      font-size: 2.8rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;

      line-height: 1;
    }

    &:hover {
      color: $color-black;
    }
  }
}

.content-header {
  width: 100%;

  margin-bottom: 2rem;

  &__text {
    width: 100%;

    color: $color-primary;
    text-align: center;
    text-shadow: 0px 0.4rem 1.2rem rgba($color-black, 0.25);
  }
}

.content__footer {
  display: flex;
  justify-content: center;
}
