<section class="artworks__background">
  <div class="u-margin-bottom--medium"></div>
  <div class="u-center-text u-margin-bottom--tiny">
    <h2 class="heading-secondary artworks__header-text">Artworks</h2>
  </div>
  <div class="u-center-text u-margin-bottom--large">
    <p class="body-medium--italic artworks__caption-text">
      Over the years I have also taken an interest towards art and drawing. I am
      well known for my original character "demeritbird".
    </p>
  </div>

  <div class="artworks__showcase">
    <app-artwork-container
      imagePathSmall="assets/images/artworks/ndp-boy/ndp-boy-1x.png"
      imagePathLarge="assets/images/artworks/ndp-boy/ndp-boy-2x.png"
      caption="comics"
    ></app-artwork-container>
    <app-artwork-container
      imagePathSmall="assets/images/artworks/kled/kled-1x.png"
      imagePathLarge="assets/images/artworks/kled/kled-2x.png"
      caption="line art"
    ></app-artwork-container>
    <app-artwork-container
      imagePathSmall="assets/images/artworks/yunona/yunona-1x.png"
      imagePathLarge="assets/images/artworks/yunona/yunona-2x.png"
      caption="illustrations"
    ></app-artwork-container>
    <app-artwork-container
      imagePathSmall="assets/images/artworks/dembird-concept/dembird-concept-1x.png"
      imagePathLarge="assets/images/artworks/dembird-concept/dembird-concept-2x.png"
      caption="concept art"
    ></app-artwork-container>
  </div>
</section>
