<div class="container">
  <div class="cover">
    <div class="cover__image-holder u-margin-bottom--tiny">
      <img
        class="cover__image"
        src="assets/images/example-project.png"
        alt="cover image of project"
      />
    </div>
    <div class="cover__title-holder">
      <h2 class="cover__title showcase-title">Perchpals Platform</h2>
    </div>
    <app-language-tag languageName="typescript"></app-language-tag>
    <app-language-tag languageName="scss"></app-language-tag>
    <app-language-tag languageName="mongodb"></app-language-tag>
    <app-language-tag languageName="expressjs"></app-language-tag>
  </div>
  <div class="description">
    <p class="description__prompt"><span>Find out more</span> &#8599;</p>
    <div class="description__container">
      <div class="description__text-mask">
        <h6 class="description__text showcase-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip Ut enim ad minim veniam, ullamco laboris nisi ut aliquip Ut
          enim ad minim veniam, ullamco laboris nisi ut aliquip Ut enim ad minim
          veniam,
        </h6>
      </div>
    </div>
  </div>
</div>
