<div class="container">
  <div class="cover">
    <div class="cover__image-holder u-margin-bottom--tiny">
      <img
        class="cover__image"
        [src]="imagePath"
        alt="cover image of project"
      />
    </div>
    <div class="cover__title-holder">
      <h2
        class="cover__title showcase-title"
        [ngClass]="{ 'cover__title--light': isLightImage }"
      >
        {{ title }}
      </h2>
    </div>
    <div class="cover__languages-grid">
      <ng-container *ngFor="let languageName of languageNameArr">
        <app-language-tag [languageName]="languageName"></app-language-tag>
      </ng-container>
    </div>
  </div>
  <div class="description">
    <a class="description__prompt" [href]="link"
      ><span>Find out more</span> &#8599;</a
    >
    <div class="description__container">
      <div class="description__text-mask">
        <h6 class="description__text showcase-paragraph">
          <ng-content></ng-content>
        </h6>
      </div>
    </div>
  </div>
</div>
