<section class="about__background">
  <div class="u-center-text u-margin-top--medium u-margin-bottom--medium">
    <h2 class="heading-secondary about__header-text">About Me</h2>
  </div>
  <div class="about__body">
    <div class="about__body-text-container">
      <p class="about__body-text body-medium--italic">
        Hiya! I'm Lek Jie Wei, an aspiring full full-stack developer and cartoon
        artist. Currently, I am a final year Computer Science and Design (CSD)
        student in SUTD.
      </p>
    </div>
    <div class="about__body-image-container">
      <img
        class="about__body-image"
        srcset="
          assets/images/about-image/about-image-1x.png 353w,
          assets/images/about-image/about-image-2x.png 705w
        "
        sizes="(max-width: 68em) 315px, (max-width: 37.5em) 201.6px, 350px"
        src="assets/images/about-image-2x.png"
        alt="image of author"
      />
    </div>
  </div>
</section>
