@use "./../../../styles/main.scss" as *;

$square-styles: (
  1: (
    width: 15rem,
    height: 15rem,
    left: 7%,
    delay: 0s
  ),
  2: (
    height: 11rem,
    width: 65px,
    left: 15%,
    delay: 4s
  ),
  3: (
    height: 16.4rem,
    width: 16.4rem,
    left: 45%,
    delay: 8s
  ),
  4: (
    height: 14rem,
    width: 14rem,
    left: 55%,
    delay: 2s
  ),
  5: (
    height: 12rem,
    width: 12rem,
    left: 27%,
    delay: 6s
  ),
  6: (
    height: 11rem,
    width: 11rem,
    left: 60%,
    delay: 4s
  ),
  7: (
    height: 18rem,
    width: 18rem,
    left: 85%,
    delay: 9s
  ),
  8: (
    height: 14rem,
    width: 14rem,
    left: 75%,
    delay: 4s
  ),
  9: (
    height: 9rem,
    width: 9rem,
    left: 10%,
    delay: 7s
  ),
  10: (
    height: 11rem,
    width: 11rem,
    left: 60%,
    delay: 7s
  )
);

:host {
  height: 100vh;
  width: 100vw;
  @include flex-top-down;
  background-color: #333;
}

//// lazy-loaded background
.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: linear-gradient(to top, rgba(#1f1111, 0.8) 40%, rgba(#999, 0.2) 80%),
    url(../../../assets/images/restricted-background-4x.png);
  background-size: cover;
  background-blend-mode: color;

  &::after {
    @include fill-parent;
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(#111, 0.4);
    backdrop-filter: blur(4px);

    z-index: 2;
  }
}

.placeholder {
  @include fill-parent;
  @include abs-start;
  background-image: linear-gradient(to top, rgba(#1f1111, 0.8) 40%, rgba(#999, 0.2) 80%),
    url(../../../assets/images/restricted-background-1x.png);
  background-size: cover;
  background-blend-mode: color;
  background-size: cover;

  opacity: 1;

  &::after {
    @include fill-parent;
    content: "";
    @include abs-start;

    background: rgba(#111, 0.9);
    backdrop-filter: blur(20px);

    z-index: 2;
  }
}

.container {
  @include fill-parent;
  content: "";
  @include abs-start;
  @include flex-center;

  z-index: 3;
}

//// floating-icons
@keyframes fade-out-upwards {
  0% {
    bottom: -20rem;
  }

  100% {
    bottom: 100%;
    transform: rotate(180deg);
    opacity: 0;
  }
}

.animation-icon {
  position: absolute;
  bottom: -20rem;

  color: $color-white;
  filter: blur(2px);
  background-position: 0% center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 680 417' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.9356 126.587C61.7358 140.136 63.83 168.442 57.8051 173.277M57.8051 173.277C53.737 167.657 43.9578 157.662 37.3866 162.643C34.2303 170.444 31.4023 186.208 45.341 186.866M57.8051 173.277L60.3183 179.925L61.0324 186.688M32.8984 75.8322C31.052 65.5112 33.0903 46.6688 53.8843 37.0684C76.5551 26.6015 89.3567 9.62837 92.9237 2.45017C100.776 13.9911 112.945 40.001 107.409 62.1973M32.8984 75.8322C33.0651 76.7638 33.2634 77.6259 33.4824 78.4056C33.3553 77.6514 33.1624 76.7763 32.8984 75.8322ZM32.8984 75.8322C31.446 70.6393 27.8411 63.3617 21.2109 62.6604C19.1543 69.5559 16.6365 84.3836 23.0183 88.53M107.409 62.1973C106.559 65.604 105.292 68.9207 103.529 72.0816M107.409 62.1973C111.104 59.5192 119.587 56.3976 132.001 56.7659C146.76 57.2037 152.035 56.4003 153.474 53.5746C154.903 71.4854 148.682 106.215 112.763 103.804M112.763 103.804C112.269 103.771 111.77 103.731 111.264 103.683C111.738 103.695 112.24 103.736 112.763 103.804ZM112.763 103.804C116.846 104.336 122.168 106.524 124.822 109.201C128.835 113.25 131.638 115.061 134.531 115.384C128.277 122.55 110.355 135.259 88.7023 128.762M88.4523 129.195C88.4638 145.175 90.0153 179.288 96.1292 187.898C96.2528 183.351 98.5392 173.124 106.696 168.596C116.892 162.935 121.539 163.886 122.539 162.154C127.573 169.102 134.379 185.848 121.329 197.251C132.235 194.695 157.161 192.189 169.617 202.614C168.15 208.137 164.443 215.471 157.962 220.711M157.962 220.711C149.954 227.184 137.711 230.459 120.221 223.17M157.962 220.711C158.149 232.75 146.444 253.551 98.1279 240.436M87.4214 123.981C77.1403 134.788 55.5746 117.141 47.4454 118.221C40.9421 119.085 36.1496 124.786 34.5663 127.528C32.7806 127.421 31.2242 125.984 30.6691 125.278C21.4415 102.861 37.2501 86.5464 46.3079 81.1911C49.2677 80.3981 56.7388 81.3244 62.9454 91.3742C70.7038 103.936 81.4391 130.342 91.7692 122.45M38.4321 122.833C40.4468 125.343 49.1074 129.342 67.6318 125.257M37.0469 183.232C27.6693 181.474 7.53379 181.55 2.01225 195.914C2.33959 196.68 3.66387 198.253 6.34233 198.414C5.85109 206.598 11.805 222.352 39.5503 219.896M18.846 217.757C13.9472 222.242 4.60243 232.627 6.41294 238.292C8.76697 238.881 14.5312 239.63 18.7561 237.912C19.4571 240.528 24.5872 244.643 39.4147 241.131M39.4147 241.131C40.0715 240.975 40.7473 240.804 41.4426 240.618M39.4147 241.131C49.2613 247.409 78.4203 256.771 116.283 243.99M47.8708 245.484C46.2875 248.227 43.5039 254.048 45.0359 255.394C47.2233 256.272 50.4785 258.768 53.4641 256.796M147.934 239.17C149.321 243.434 151.521 252.557 149.228 254.928C146.362 257.892 119.859 262.798 112.368 245.771M56.7705 127.069C55.6142 131.406 53.8346 140.155 55.9667 140.462C58.0987 140.769 60.2091 139.447 60.9978 138.748M94.6484 130.463C95.1141 132.656 95.7723 137.116 94.6795 137.409C93.3135 137.775 89.2824 137.757 88.6664 136.824M106.309 130.267C100.843 136.734 89.7713 150.51 89.2106 153.882M128.652 112.567C128.306 112.367 133.272 110.231 135.799 109.188C150.166 118.637 158.6 169.695 137.092 180.949M144.69 173.788C147.928 170.847 156.833 165.557 166.546 167.932C178.689 170.901 196.179 170.607 197.612 169.125C200.46 188.859 195.457 229.657 152.666 234.974M53.5324 199.678C53.1038 203.087 52.509 206.451 50.4475 210.021C48.4475 213.485 48.8238 217.167 49.4116 219.816M94.4103 197.875C92.2332 199.313 88.6416 203.667 91.6914 209.585C95.5035 216.982 92.7045 218.83 93.6865 221.129C94.4722 222.968 95.4573 222.729 95.8516 222.379M22.9504 88.6477C25.7644 85.9449 31.3587 82.9864 31.2233 92.7749C31.0539 105.011 22.2137 98.6089 22.3009 94.1153C22.3706 90.5204 22.7629 88.9723 22.9504 88.6477ZM87.0647 92.5983C89.1525 92.6489 93.0609 94.2127 91.9929 100.062C90.658 107.375 85.6269 109.089 82.4798 105.54C79.3327 101.991 81.2837 95.6114 83.3997 93.9463C84.9714 92.7095 86.6094 92.7203 87.0647 92.5983ZM53.817 247.185C53.5088 256.052 53.6985 273.79 56.9234 273.805C60.1483 273.819 59.8716 257.032 59.3301 248.636L53.817 247.185ZM94.6769 249.414C95.1797 257.209 96.9049 272.755 99.7833 272.569C102.662 272.383 101.882 256.268 101.257 248.016L94.6769 249.414Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  animation: fade-out-upwards 10s infinite ease-in-out;

  z-index: 3;
}
@each $index, $style in $square-styles {
  .animation-icon:nth-child(#{$index}) {
    height: map-get($style, height);
    width: map-get($style, width);
    left: map-get($style, left);
    animation-delay: map-get($style, delay);
  }
}
