@use "./../../../styles/main.scss" as *;

$icon-length: 4rem;
$icon-length-altered: 4.8rem;
$icon-box-length: 8.4rem;

$color-highlight: $color-primary;
$color-icon-normal: $color-primary;
$color-icon-hover: $color-white;
$color-icon-box-background: $color-grey-dark-1;

.icon-tray {
  @include flex-center;
  text-align: center;
  display: flex;

  width: 72rem;

  &__background {
    border-radius: 2rem;
    padding: 2rem;
    background-color: rgba($color-grey-dark-1, 0.6);
  }
}

.icon {
  @include flex-center;
  position: relative;
  height: $icon-box-length;
  width: $icon-box-length;

  margin: 0 1.6rem;
  border-radius: 30%;

  background-color: $color-icon-box-background;

  overflow: hidden;

  &__vector {
    height: $icon-length;
    width: $icon-length;
    &--altered {
      height: $icon-length-altered;
      width: $icon-length-altered;
    }
  }
  & svg {
    fill: $color-icon-normal;
  }

  &::before {
    // This is the 'screen' that covers the background on hover
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: $color-highlight;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
  }

  &:hover {
    & svg {
      transform: scale(1.1);
      fill: $color-icon-hover;
    }

    &::before {
      animation: flash-icon-screen 0.7s 1 forwards;
      transition: 1s;
    }
  }
}

@keyframes flash-icon-screen {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 15%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
