<div
  class="u-center-text u-margin-top--medium u-margin-bottom--tiny"
  #experiences_section_ref
>
  <h2 class="heading-secondary experiences__header-text">Experiences</h2>
</div>
<div class="u-center-text u-margin-bottom--large">
  <p class="body-medium--italic experiences__caption-text">
    Throughout my studies in SUTD, I have also taken internships in other
    companies and gained invaluable experience in software development.
  </p>
</div>

<div class="cards-container">
  <div class="card u-drop-shadow--large">
    <div class="card__image u-margin-bottom--medium"></div>
    <div class="card__title u-center-text u-margin-bottom--tiny">
      <h3 class="heading-tertiary">SUTD</h3>
    </div>
    <div class="card__body">
      <ul>
        <li class="card__text body-small">
          Bachelor of Engineering (Computer Science and Design)
        </li>
        <li class="card__text body-small">Aspiring Full Stack Web Developer</li>
        <li class="card__text body-small">
          Expected Date of Graduation: May 2024
        </li>
      </ul>
    </div>
  </div>
  <div class="card u-drop-shadow--large">
    <div class="card__image u-margin-bottom--medium"></div>
    <div class="card__title u-center-text u-margin-bottom--tiny">
      <h3 class="heading-tertiary">AEvice Health</h3>
    </div>
    <div class="card__body">
      <ul>
        <li class="card__text body-small">
          Engineered features and fixing bugs on Android mobile app using Java
          and Android Studio.
        </li>
        <li class="card__text body-small">
          Created use-test cases for extensive testing and documentation of a
          software product lifecycle.
        </li>
      </ul>
    </div>
  </div>

  <div class="card u-drop-shadow--large">
    <div class="card__image u-margin-bottom--medium"></div>
    <div class="card__title u-center-text u-margin-bottom--tiny">
      <h3 class="heading-tertiary">NCS</h3>
    </div>
    <div class="card__body">
      <ul>
        <li class="card__text body-small">
          Implemented frontend features and connect with MQTT services to their
          MVP using Angular.
        </li>
        <li class="card__text body-small">
          Created requirement documentation and contributed in discussion
          essential for business and development.
        </li>
      </ul>
    </div>
  </div>
</div>
